<!DOCTYPE html>
<html>

<head>
	<title>Data</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../public/stylesheets/style.css">
</head>

<body>
	<div class="col-md-4 col-md-offset-4">
		<div>
			<p>Profile Detail</p>
		</div>
		<div>
			<center>
				<table class="table table-hover text-center">
					<tr>
						<td>Name </td>
						<td>
							<%= user.userName %>
						</td>
					</tr>
					<tr>
						<td>Email </td>
						<td>
							<%= user.email %>
						</td>
					</tr>
				</table>
			</center>
		</div>
		<form action="/logout" method="post">
			<button type="submit" name="logout" value="logout" class="btn-link">logout</button>
		</form>
		<form action="/update?user_id= <%=user.id %>" method="post">
			<button type="submit" name="update" value="update" class="btn-link">edit user</button>
		</form>
		<form action="/deleteUser?user_id= <%=user.id %>"" method="post">
			<button type="submit" name="delete" value="delete" class="btn-link">delete user</button>
		</form>
	</div>
</body>
</html>